.git
.vs
Task_1_20/.vs
Task_1_20/.idea
Task_1_20/Debug
Task_1_20/Task_1_20/Debug

Task_2_25/.vs
Task_2_25/.idea
Task_2_25/Debug
Task_2_25/Task_2_25/.vs
Task_2_25/Task_2_25/.idea
Task_2_25/Task_2_25/Debug
Task_2_25/Task_2_25/Task_2_25.vcxproj.user

Task_3_22/.vs
Task_3_22/.idea
Task_3_22/Debug
Task_3_22/Task_3_22.vcxproj.user

Task_4_23/.vs
Task_4_23/.idea
Task_4_23/Debug
Task_4_23/Task_4_23.vcxproj.user

Task_5_7/.vs
Task_5_7/.idea
Task_5_7/Debug
Task_5_7/Task_5_7.vcxproj.user